.article__container {
    margin: 0 2rem;
    display: flex;
}

.article__article {
    //border: 1px black solid;
    width: 70%;
    margin-right: 1rem;
    line-height: 1.6;

    hr {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    p {
        font-family: Arial, sans-serif;
        font-size: 12px;
    }
}

.article__sideBar {
    //border: 1px black solid;
    width: 30%;
    margin-left: 1rem;
}

.article__socialBar {

}

.article__ad {
    
}

.title {
    font-family: 'Georgia', serif;
    font-size: 20px;
}

.imgDiv {
    max-width: 700px;
    max-height: 700px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}
.wideImg {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 6rem;
}

.doubleImgDiv {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 300px;
    max-height: 400px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    //display: inline-block;
    //float: left;
    //border: 1px black solid;
}

.wordsDiv {
    //border: 1px blue solid;
}

.longImgDiv {
    //display: block;
    //max-width: 200px;
    //max-height: 200px;
}

.longImg {
    display: block;
    height: auto;
    //width: ;
    max-width: 100%;
    //max-height: 100%;
    justify-content: space-between;
    margin: 0 1.5rem 0 1.5rem;
}