.header__container {
    display: flex;
    //justify-content: space-between;
    margin: 1rem 2rem 0 2rem;
    //border: 1px black solid;

    @media (max-width: $desktop-breakpoint) {
        margin: .5rem .5rem 0 .5rem;
    }
}

.header__menuContainer {
    display: flex;
    padding-top: 2rem;
    width: 20%;
    //border: 1px black solid;

    @media (max-width: $desktop-breakpoint) {
        padding-top: 1rem;
    }
}

.header__menu {
    &:hover {
        cursor: pointer;
    }
    display: flex;
    //margin-top: 2rem;
    font-size: 125%;
    //border: 1px black solid;

    @media (max-width: $desktop-breakpoint) {
        font-size: 95%;

        img {
            height: 24px;
            width: 24px;
            //margin-bottom: 1rem;
        }

        span {
            display: none;
        }
    }
}

.popover {
    position: relative;
    //display: inline-block;
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: #f1f1f1
        }
    }
}

.header__logo {
    text-align: center;
    width:60%;
    //font-weight: 500;
    padding-top: 1rem;
    //color: blue;
    //border: 1px black solid;

    span {
        font-family: Papyrus, fantasy;
        font-size: 44px;

        @media (max-width: $desktop-breakpoint) {
            font-size: 30px;
            //margin-top: 6rem;
        }
    }

}

.header__socialWidgets {
    text-align: right;
    //padding-left: 30px;
    //padding-right: 30px;
    padding-top: 2rem;
    //border-left: 1px solid black;
    width: 20%;
    //border: 1px black solid;

    @media (max-width: $desktop-breakpoint) {
        padding-top: 1.7rem;

        img {
            height: 12px;
            width: 12px;
        }

        .facebook {
            display: none;
        }
    }
}

.socialWidget {
    margin: 3px;

    @media (max-width: $desktop-breakpoint) {
        margin: 1px;
    }
}