@import './base/settings';
@import './base/base';
@import './components/header';
@import './components/articleCard';
@import './components/cardGroup';
@import './components/footer';
@import './components/aboutMeCard';
@import './components/dropDown';
@import './components/sliderStyle';
@import './components/tweetMe';
@import './components/loader';
@import './components/quoteCard';
@import './components/articlesPage';
@import './components/article';
@import './components/quotesPage';
@import './components/aboutMePage';
